/* Variables */

:root {
    /* Border Radius */
    --border-radius-small: 5px;
    --border-radius: 15px;

    /* Padding */
    --padding: 10px;
    --padding-50: 50px;

    /* Colors */
    --shade-black: rgba(0, 0, 0, 0.05);
    --shade-black-fuller: rgba(0, 0, 0, 0.25);
    --shade-white: rgba(255, 255, 255, 0.1);
    --color-green: #00ff00;
    --color-light-green: #b6ffb6;
    --color-star: rgb(255, 213, 0);

    /* Admin Bar */
    --bar-height: 50px;
    --menu-width: 200px;
}

@font-face {
    font-family: "Inter";
    src:
        local("Inter"),
        url("Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src:
        local("Inter"),
        url("Inter-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}


/* 
============================================================

Body

============================================================ 
*/

body {
    background: var(--color-white);
    font-family: Inter, sans-serif !important;
}

/* 
============================================================

Wrapper

============================================================ 
*/

#wpwrap {
    top: 18px;
}

/* 
============================================================

Admin Bar

============================================================ 
*/

#wpadminbar {
    height: var(--bar-height);
}

#wpadminbar ul li {
    height: var(--bar-height) !important;
}

#wpadminbar ul li a {
    height: var(--bar-height) !important;
    line-height: var(--bar-height);
    vertical-align: middle;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    color: white;
}

#wpadminbar li #adminbarsearch.adminbar-focused:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li .ab-item:before,
#wpadminbar li .ab-icon:before,
#wpadminbar li #adminbarsearch:before {
    display: none !important;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    background: var(--color-main);
}

#wpadminbar .ab-submenu {
    padding: 0;
}

#wpadminbar .ab-submenu li {
    height: auto !important;
    background: var(--color-black);
}

#wpadminbar .ab-submenu li:hover {
    background: var(--color-main);
    color: white;

}

#wpadminbar .ab-submenu li a {
    height: auto !important;
    padding: var(--padding);
    color: currentColor !important;
}

#wpadminbar .quicklinks>ul>li>a {
    padding-left: var(--padding);
    padding-right: var(--padding);
}

#wpadminbar .ab-icon,
#wpadminbar .ab-item:before,
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon,
.wp-admin-bar-arrow {
    display: none;
    margin: 0;
}

/* 
============================================================

Admin Menu

============================================================ 
*/

/* Menu */

#adminmenu {
    margin: 0;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
    background: var(--color-black);
    width: var(--menu-width);
}

/* Separator */

.wp-menu-separator {
    background: var(--shade-white);
    height: 1px !important;
    margin: 0 !important;
}

/* Colors */

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
    background: var(--color-main);
    color: white;
    transition: all 0.2s ease-in-out;
}

/* Menu Items */

#adminmenu div.wp-menu-name {
    padding: calc(1.25 * var(--padding));
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
    background: var(--color-main);
}

/* Hide Icons */

#adminmenu .wp-menu-image {
    display: none;
}

/* Submenu */

#adminmenu .wp-submenu {
    padding: 0;
}

#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.no-js li.wp-has-current-submenu .wp-submenu {
    background: rgba(0, 0, 0, 0.4);
}

#adminmenu .wp-has-submenu ul li a {
    padding: var(--padding);
}

#adminmenu .wp-has-submenu ul li.current a::after {
    content: "→";
    margin-left: 5px;
    display: inline-block;
}

#adminmenu a:focus,
#adminmenu a:hover,
.folded #adminmenu .wp-submenu-head:hover {
    box-shadow: none;
}

#adminmenu .wp-submenu {
    left: var(--menu-width);
}

#adminmenu .wp-not-current-submenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
    border-left: 0;
}

/* Collapse Button */

#collapse-button:hover {
    color: white;
}

/* Arrow */

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
    border-right-color: var(--color-white);
}

/* 
============================================================

Content

============================================================ 
*/

#wpbody-content {
    padding: var(--padding-50);
    padding-top: 0px;
    box-sizing: border-box;
}

#wpbody-content .wrap {
    margin-top: calc(var(--padding-50) - 10px);
}

/* 
============================================================

UI

============================================================ 
*/

/* Links */

a {
    color: var(--color-main);
}

a:hover {
    color: var(--color-button-hover);
}

/* Headline Button */

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
    border-radius: var(--border-radius);
}

/* Buttons */

/* Main Buttons */
.wp-core-ui .button-primary,
/* Secondary Buttons */
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active,
/* UI Buttons */
.wp-core-ui .button,
.wp-core-ui .button-secondary {
    color: white;
    background: var(--color-main);
    border-radius: 50px;
    border: none;
    box-shadow: none;
    transition: background 0.2s ease-in-out;
    font-weight: normal;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover,
/* Secondary Buttons */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
/* UI Buttons */
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover {
    border: none;
    box-shadow: none;
    background: var(--color-button-hover);
    color: white;
}

/* Inputs */

input[type=checkbox]:focus,
input[type=checkbox]:hover,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus,
.wp-core-ui select:focus {
    border-color: var(--color-main);
}

.wp-core-ui select:hover {
    color: var(--color-main)
}

.wp-core-ui .button-link {
    color: var(--color-main);
}

.wp-core-ui .button-link:active,
.wp-core-ui .button-link:hover {
    color: var(--color-button-hover);
}

#all-plugins-table .plugins a.delete,
#delete-link a.delete,
#media-items a.delete,
#media-items a.delete-permanently,
#nav-menu-footer .menu-delete,
#search-plugins-table .plugins a.delete,
.plugins a.delete,
.privacy_requests .remove-personal-data .remove-personal-data-handle,
.row-actions span.delete a,
.row-actions span.spam a,
.row-actions span.trash a,
.submitbox .submitdelete,
a#remove-post-thumbnail {
    color: red;
}

/* 
============================================================

Dashboard

============================================================ 
*/

.is-dragging-metaboxes #dashboard-widgets .meta-box-sortables {
    outline: none;
    border-radius: var(--border-radius);
    background: white;
    padding: var(--padding);
}

#dashboard-widgets .postbox-container .empty-container {
    outline: 1px dashed var(--shade-black-fuller);
    border-radius: var(--border-radius);
}

.postbox {
    position: relative;
    min-width: 255px;
    border: none;
    box-shadow: none;
    background: var(--shade-black);
    border-radius: var(--border-radius);
}

.postbox-container .postbox:last-child {
    margin-bottom: 0;
}

.postbox-header {
    border-bottom: none;
}

.postbox .inside {
    border-top: 1px solid var(--shade-black);
    padding: var(--padding) !important;
    margin: 0 !important;
}

#dashboard_right_now .main {
    padding: 0;
}

.sortable-placeholder {
    outline: 1px dashed var(--shade-black-fuller);
    border: none;
    border-radius: var(--border-radius);
}

/* 
============================================================

Theme

============================================================ 
*/

.theme-count {
    background: var(--color-notification);
}

.theme-info .current-label {
    background: var(--color-black);
    border-radius: 50px;
}

/* 
============================================================

Tables

============================================================ 
*/

.wp-filter {
    border-color: var(--shade-black-fuller);
    border-radius: var(--border-radius);
}

.view-switch a.current:before {
    color: var(--color-main);
}

#menu-management .menu-edit,
#menu-settings-column .accordion-container,
.comment-ays,
.feature-filter,
.manage-menus,
.menu-item-handle,
.popular-tags,
.stuffbox,
.widget-inside,
.widget-top,
.widgets-holder-wrap,
.wp-editor-container,
p.popular-tags,
table.widefat,
.widefat.plugins {
    border: 1px solid var(--shade-black-fuller);
    border-radius: var(--border-radius);
}


.widefat thead td,
.widefat thead th,
.widefat tfoot td,
.widefat tfoot th {
    border-bottom: none;
    border-top: none;
}

.widefat tr>* {
    padding: var(--padding) !important;
}

.plugins tr {
    background: transparent;
}

.plugin-update-tr.active td,
.plugins .active th.check-column {
    border-color: var(--color-green);
}

.plugins tr.active>* {
    background: var(--color-light-green);
}

.plugins-php .widefat tfoot td,
.plugins-php .widefat tfoot th {
    border-top: none;
}

/* 
============================================================

User

============================================================ 
*/

.column-author img,
.column-comment .comment-author img,
.column-username img,
/* Avatar Admin Bar */
#wpadminbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img,
#wpadminbar #wp-admin-bar-my-account.with-avatar>a img,
#wp-admin-bar-user-info .avatar {
    border-radius: 100%;
}

.notice-success,
div.updated {
    border: 1px solid var(--color-green);
    border-radius: var(--border-radius);
    background: var(--color-light-green);
}

.wrap h1.wp-heading-inline {
    font-size: 2.75em;
}

/* 
============================================================

Theme Page

============================================================ 
*/

.theme-browser .theme {
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    overflow: hidden;
}

.theme-browser .theme .theme-id-container {
    outline: none;
}

.single-theme .theme-overlay .theme-wrap {
    border-radius: var(--border-radius);
}

.single-theme .theme-actions {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background: var(--color-main);
}

.single-theme .theme-actions .wp-core-ui .button-primary,
.single-theme .theme-actions .wrap .add-new-h2,
.single-theme .theme-actions .wrap .add-new-h2:active,
.single-theme .theme-actions .wrap .page-title-action,
.single-theme .theme-actions .wrap .page-title-action:active,
.single-theme .theme-actions .wp-core-ui .button,
.single-theme .theme-actions .wp-core-ui .button-secondary,
.single-theme .theme-actions a {
    background: white !important;
    color: var(--color-main) !important;
    transition: color 0.2s ease-in-out;
}

.single-theme .theme-actions a:hover {
    color: var(--color-button-hover) !important;
}

.theme-browser .theme .theme-name {
    margin: 0;
    padding: var(--padding-x2);
    height: auto;
    border: none;
}

.theme-browser .theme.active .theme-actions,
.theme-browser .theme .theme-actions {
    background: none;
    box-shadow: none;
    border: none;
}

.theme-browser .theme .theme-actions a,
.theme-browser .theme.active .theme-actions a {
    background: white;
    border-radius: var(--border-radius) !important;
    border: none !important;
    color: var(--color-black) !important;
}

.theme-overlay .screenshot {
    border: 1px solid var(--shade-black-fuller);
    box-shadow: none;
    border-radius: var(--border-radius-small);
}

.theme-browser.content-filterable .theme {
    border-radius: var(--border-radius-small);
}

.theme-browser.content-filterable .theme .theme-screenshot {
    border: 1px solid var(--shade-black);
    border-top-left-radius: var(--border-radius-small);
    border-top-right-radius: var(--border-radius-small);
}

.theme-browser.content-filterable .theme .theme-id-container {
    padding: var(--padding);
    height: auto;
    background: var(--shade-black);
    box-shadow: none;
}

.theme-browser.content-filterable .theme .theme-name {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

.filter-count .count.theme-count {
    background: var(--shade-black);
    color: var(--color-black);
}

.filter-links li>a:focus,
.filter-links li>a:hover,
.show-filters .filter-links a.current:focus,
.show-filters .filter-links a.current:hover {
    color: var(--color-main);
}

.filter-links .current {
    border-bottom-color: var(--color-main);
    color: var(--color-main);
    font-weight: bold;
}

.wp-filter .button.drawer-toggle {
    border-radius: var(--border-radius) !important;
}

.wp-filter .button.drawer-toggle:focus,
.wp-filter .button.drawer-toggle:hover,
.wp-filter .drawer-toggle:focus:before,
.wp-filter .drawer-toggle:hover:before {
    color: var(--color-main);
}

.show-filters .wp-filter .drawer-toggle:focus,
.show-filters .wp-filter .drawer-toggle:hover {
    background: var(--color-main);
    color: white;
}

.show-filters .wp-filter .drawer-toggle:focus:before,
.show-filters .wp-filter .drawer-toggle:hover:before {
    color: white;
}

/* 
============================================================

Plugins

============================================================ 
*/

.plugin-card {
    border-radius: var(--border-radius);
    border: 1px solid var(--shade-black);
    box-sizing: border-box;
}

.plugin-card-bottom {
    clear: both;
    padding: var(--padding);
    background-color: var(--shade-black);
    border: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}


.star-rating .star {
    color: var(--color-star);
}



.plugin-details-modal #TB_closeWindowButton,
.plugin-details-modal #TB_closeWindowButton {
    border-radius: 50px !important;
}

/* 
============================================================

Drag Area

============================================================ 
*/

.drag-drop #drag-drop-area {
    border-radius: var(--border-radius);
    border: 1px dashed var(--shade-black-fuller);
    height: auto;
}

.drag-drop .drag-drop-inside {
    margin: var(--padding-50) auto;
}

/* 
============================================================

Media Library

============================================================ 
*/

table.media .column-title .media-icon img {
    border-radius: var(--border-radius-small);
}

.wp-core-ui .attachment-preview,
.wp-core-ui .attachment,
.wp-core-ui .attachment .thumbnail,
.wp-core-ui .attachment .thumbnail img,
.wp-core-ui .attachment .thumbnail:after,
.wp-core-ui .attachment-preview:before {
    border-radius: var(--border-radius) !important;
    box-shadow: none;
    outline: none;
}

.wp-core-ui .attachment-preview {
    border: 1px solid var(--shade-black);
}

/* 
============================================================

Theme Editor

============================================================ 
*/

#templateside>ul {
    padding: var(--padding);
}

.notice,
div.error,
div.updated {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-radius: var(--border-radius);
    box-shadow: none;
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

#templateside li:not(.howto)>a,
[role=treeitem] .folder-label,
[role=treeitem] {
    border-radius: var(--border-radius);
}

/* 
============================================================

Customizer

============================================================ 
*/

#customize-header-actions #publish-settings,
#customize-header-actions input.save {
    background: var(--color-main) !important;
    padding-left: var(--padding) !important;
    padding-right: var(--padding) !important;
    transition: none !important;
}

#customize-header-actions #publish-settings:hover,
#customize-header-actions input.save:hover {
    background: var(--color-button-hover) !important;
}

#customize-header-actions #publish-settings {
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#customize-header-actions input.save {
    border-top-left-radius: var(--border-radius) !important;
    border-bottom-left-radius: var(--border-radius) !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#customize-header-actions input:disabled {
    background: var(--shade-black) !important;
    border-radius: var(--border-radius) !important;
}

#customize-header-actions input:disabled:hover {
    background: var(--shade-black) !important;
}

.customize-control .attachment-media-view .button-add-media,
.customize-control .attachment-media-view .placeholder,
.customize-control-header .placeholder {
    border-radius: var(--border-radius);
}

#customize-controls #customize-notifications-area:not(.has-overlay-notifications),
#customize-controls .customize-section-title>.customize-control-notifications-container:not(.has-overlay-notifications),
#customize-controls .panel-meta>.customize-control-notifications-container:not(.has-overlay-notifications) {
    padding: var(--padding);
    box-sizing: border-box;
}

#customize-controls .control-section .accordion-section-title {
    border: none !important;
}

#customize-controls .control-section .accordion-section-title:focus,
#customize-controls .control-section .accordion-section-title:hover,
#customize-controls .control-section.open .accordion-section-title,
#customize-controls .control-section:hover>.accordion-section-title {

    background: var(--color-main);
    color: white;
}

.customize-panel-back,
.customize-section-back {
    border: none;
}

.customize-controls-close {
    border-left: none;
    border-right: none;
    border-top-color: transparent !important;
}

.customize-panel-back:hover,
.customize-section-back:hover,
.customize-controls-close:hover {
    background: var(--color-main);
}

.customize-panel-back:before,
.customize-section-back:before,
.customize-controls-close::before {
    color: var(--color-main);
}

.customize-panel-back:hover:before,
.customize-section-back:hover:before,
.customize-controls-close:hover:before {
    color: white;
}

.wp-color-result-text {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin-right: 1px !important;
}

.iris-picker .iris-square,
.iris-picker .iris-slider,
.iris-picker .iris-square-inner,
.iris-picker .iris-palette {
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2) !important;
    border-radius: var(--border-radius) !important;
}

.wp-picker-container .iris-picker {
    border-radius: var(--border-radius) !important;
}